.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.icon-list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaaaaa58;
}

.icon-list::-webkit-scrollbar-thumb {
  background: #8bd8e2;
  border-radius: 3px;
}

.icon-list {
  overflow-y: scroll;
  height: 30vh;
  list-style-type: decimal-leading-zero;
  position: relative;
  top: 90px;
  color: rgb(103, 103, 103);
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 5.6rem;
  padding-right: 1rem;
}

.icon-list li {
  font-size: 3rem;
}

.button-text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 6rem;
  height: 154px;
}

.final-pizza {
  font-size: 5rem;
  position: relative;
  top: 30%;
  color: rgb(103, 103, 103);
}

.heading-wrapper {
  height: 760px;
}

.heading {
  font-size: 3.1rem;
  font-weight: 500;
  text-align: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 1.5rem;
  color: rgb(103, 103, 103);
}

.heading-2 {
  font-size: 3.1rem;
  font-weight: 500;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.519);
}

.sub-notes {
  margin-bottom: 0;
}

.extra-heading-text {
  font-size: 3.1rem;
  font-weight: 500;
  text-align: center;

  color: rgba(0, 0, 0, 0.519);
}

.instructions,
.sub-notes {
  color: #8bd8e2;
  font-size: 1.26rem;
  font-weight: bold;
  text-align: center;
  padding: 0 4px;
  line-height: 23px;
}

.instructions {
  margin-bottom: 0.2rem;
}

.body-button {
  border: solid rgb(134, 134, 134) 1px;
  color: white;
  background-color: #8bd8e2;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 15rem;
  margin-bottom: 0.2rem;
}

.footer-button-container {
  width: 100vw;
  display: flex;
  justify-content: end;
}

.footer-button {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  border-radius: 100%;
  border: solid black 1px;
  background-color: white;
  color: #8bd8e2;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 10px;
  right: 10px;
}

.arrow-footer-button {
  display: block;
  position: absolute;
  padding-top: 16px;
  padding-left: 3px;
  width: 80px;
  height: 80px;
  font-size: 46px;
  border-radius: 100%;
  border: solid black 1px;
  background-color: white;
  color: #8bd8e2;
  text-align: center;
  font-weight: bold;
  bottom: 10px;
  right: 10px;
}

video {
  display: none;
}

@media screen and (min-width: 500px) {
  .container {
    max-height: 97vh;
    justify-content: start;
  }
  .footer-button-container {
    justify-content: center;
  }
  .footer-button,
  .arrow-footer-button {
    position: static;
  }
  .heading-2 {
    font-size: 5rem;
  }
  .heading {
    font-size: 5rem;
  }
  .extra-heading-text {
    font-size: 5rem;
  }
}
